Checks: '-*,
        bugprone-*
        clang-analyzer-*,
        -clang-analyzer-cplusplus.NewDelete,
        -clang-analyzer-core.uninitialized.Assign,
        llvm-*,
        -llvm-namespace-comment,
        -llvm-header-guard,
        modernize-*,
        -modernize-use-trailing-return-type,
        readability-*,
        -readability-named-parameter,
        -readability-function-cognitive-complexity,
        -readability-magic-numbers,
        -readability-redundant-access-specifiers,
        '

# abseil
# concurrency-*
# cppcoreguidelines-*,
# google*,
# hicpp*,
# misc*,
# performance*,
# portability*,

FormatStyle:          file
HeaderFilterRegex:    '.*'
WarningsAsErrors:     '*'

CheckOptions:
      - key:     readability-braces-around-statements.ShortStatementLines
        value:   '2'
