Checks: '-*,
        bugprone-*
        concurrency-*,
        clang-analyzer-*,
        -clang-analyzer-cplusplus.NewDelete,
        -clang-analyzer-core.uninitialized.Assign,
        cppcoreguidelines-*,
        -cppcoreguidelines-avoid-magic-numbers,
        llvm-*,
        -llvm-namespace-comment,
        -llvm-header-guard,
        modernize-*,
        -modernize-use-trailing-return-type,
        performance-*,
        portability-*,
        readability-*,
        -readability-named-parameter,
        -readability-function-cognitive-complexity,
        -readability-magic-numbers,
        -readability-redundant-access-specifiers,
        -readability-identifier-length
        '

# abseil
# google*,
# hicpp*,
# misc*,

FormatStyle:          file
HeaderFilterRegex:    '.*'
WarningsAsErrors:     '*'

CheckOptions:
      - key:     readability-braces-around-statements.ShortStatementLines
        value:   '2'
      - key:     cppcoreguidelines-macro-usage.AllowedRegexp
        value:   'MTSP_VRP_C_*'
      - key:     performance-unnecessary-value-param.AllowedTypes
        value:   'std::shared_ptr;xt::xarray'
