Checks: '-*,
        clang-analyzer-*,
        -clang-analyzer-cplusplus.NewDelete,
        -clang-analyzer-core.uninitialized.Assign,
        llvm-*,
        -llvm-header-guard,
        -llvm-namespace-comment,
        modernize-*,
        -modernize-use-trailing-return-type'

# bugprone*
# cppcore*,
# google*,
# hicpp*,
# llvm*,
# misc*,
# performance*,
# portability*,
# readability*,

FormatStyle:          file
HeaderFilterRegex:    '.*'
WarningsAsErrors:     '*'
#CheckOptions:
#      - key:     readability-implicit-bool-conversion.AllowIntegerConditions
#        value:   '1'
